body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('../src/assets/images/background.jpg');
  /* background-color: aqua; */
  width: 100vw;
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;  
}

@media (prefers-reduced-motion: no-preference) {
  /* klasa koja je bila stavljena na logo, primer upotrebe animacija */
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
